# dependencies
node_modules

# folders
controllers/
cronJob/
middlewares/
models/
routes/
services/
uploads/
utils/

# testing
coverage
test/testtx
test/testproxy

# logs
logs/

# truffle
build

# environment variables
.env
mnemonic.env
.zos.session

# Cert
selfsigned.key
selfsigned.crt
logs/app_info.log
logs/access.log
test/testtx.js
